.contenidorg{
   display: flex;
   flex-flow: column nowrap;
   max-width: 1200px;
}


#nav {
   background-color: black;
   padding: 10px;
   display: flex;
   flex-flow: column nowrap;
   margin: 10px 10px;
}

.caixa1{
   background-color: #2d4059;
   padding: 10px;
   display: flex;
   flex-flow: row nowrap;
}
.caixa1 > .n-element{
      background-color: #ea5455;
      padding: 5px;
      margin: 3px;
      flex: 1 1 auto;
}

.caixa1 > .n-element2 {
   flex-grow: 5;
   background-color: #ea5455;
   padding: 5px;
   margin: 3px;
}

.caixa2{
   display: flex;
   background-color:#f07b3f;
   padding: 10px;
   border-top: solid black 10px;
}

.caixa2 > .n-element{
   background-color: #fed460;
   margin: 3px;
   padding: 5px;
   flex-grow: 2;
}


#contenidor {
   background-color: black;
   padding: 5px;
   margin: 10px 10px;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
}

#contenidores {
   flex: 2 1 auto;
   display: flex;
   flex-flow: row wrap;
   margin: 5px;
   background-color: #4e4e6a;
   padding: 5px;

}

#contenidores > .elemento {
   background-color: #1f6cb0;
   padding: 5px;
   margin: 5px;
   flex: 1 1 40%;
}

#contenidores > .elemento2 {
   background-color: #70a3c4;
   padding: 5px;
   margin: 5px;
   flex: 1 1 100%;
}
#contenidord {
   background-color: #f73f52;
   flex: 1 1 auto;
   margin: 5px;
   padding: 5px;
}

#contenidord > .elemento3 {
   background-color: #feea85;
   padding: 5px;
   margin: 5px;
}

#final {
   border: solid black 10px;
   display: flex;
   flex-direction:column;
   flex-wrap: wrap;
   margin: 0px 10px;
}

.f-element{
   background-color: #e6af2e;
   padding: 8px;
}

@media screen and (max-width: 900px) {
      #contenidor{
         background: yellow;
         flex-direction: column;
      }

      #contenidores > .elemento{
         flex: 1 1 40%;
         padding: 1px;
      }

      #contenidores > .elemento2{
         padding: 1px;
      }

      #contenidord{
         flex-direction: column;
      }

}

@media screen and (max-width: 500px) {
      .caixa1{
         flex-direction: column;
         height: auto;
      }
      #contenidores{
         flex-direction: column;
      }
      #contenidores > .elemento{
         padding: 5px;
         background-color: #62959c;
      }

      #contenidores > .elemento2{
         padding: 5px;
         background-color: #a3ddcb;
      }

      #contenidord {
         background-color: #fd7b54;
      }

      #contenidord > .elemento3{
         background-color: #fdb36b;
      }

      .f-element{
         background-color: #fdc764;
         padding: 4px;
      }
}

